services:
  client:
    build: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - app-network

  server:
    build: ./server
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    networks:
      - app-network
networks:
  app-network:
    driver: bridge
